@import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);

.body {
display:flex;
flex-direction:column;
font-family:Montserrat, sans-serif;
font-size: 1em;
font-weight:300;
min-height:100vh;
}

.nav {
	margin: 0 auto;
	max-width: 1000px;
	background: #ffffff4f;
	box-shadow:0 3px 15px rgba(0,0,0,.15);
	border-radius: 50px;
}

.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav ul li {
	float: left;
	position: relative;
}

.nav ul li a {
	display: block;
	color: rgba(255, 255, 255, .9);
	text-decoration: none;
	padding: 1rem 2rem;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}

.nav ul li a:hover,
.nav ul li a:focus {
	background: rgba(0, 0, 0, .15);
}

.nav ul li a:focus {
	color: white;
}

.nav ul li ul li {
	min-width: 190px;
}

.nav ul li ul li a {
	background: transparent;
	color: #555;
	border-bottom: 1px solid #DDE0E7;
}

.nav ul li ul li a:hover,
.nav ul li ul li a:focus {
	background: #eee;
	color: #111;
}
