@import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);

@font-face {
    font-family: Bomb-Font;
    src: url(../scr/Fontes/Fonte-Título/BOMBFONT\ TRIAL.ttf);
}

.fonte1{
    font-family: Bomb-Font;
    font-size: 60px;
    margin-top: -70px;
    color: white;
}

body {
background:#555151;
display:flex;
flex-direction:column;
font-family:Montserrat, sans-serif;
font-weight:300;
min-height:100vh;
}



h1 {
	font-weight: 200;
	font-size: 2.2rem;
	color: #222;
	text-align: center;
}

nav {
	margin: 0 auto;
	max-width: 1000px;
	background: #001c2d;
	box-shadow:0 20px 30px rgba(0, 0, 0, 0.547);
}

nav::after {
	display: block;
	content: '';
	clear: both;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 1rem 2rem;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
	background: rgba(0, 0, 0, .15);
}

nav ul li a:focus {
	color: white;
}

nav ul li a:not(:only-child)::after {
	padding-left: 4px;
	content: ' ▾';
}

nav ul li ul li {
	min-width: 190px;
}

nav ul li ul li a {
	background: transparent;
	color: #555;
	border-bottom: 1px solid #DDE0E7;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus {
	background: #eee;
	color: #111;
}

.dropdown {
	display: none;
	position: absolute;
	background: #fff;
	box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}


.footer {
color: #555;
font-size:12px;
margin-top:5em;
text-align:center;
}

.footer a {
color:#008FEA;
text-decoration:none;
}

