@font-face {
	font-family: Decipher;
	src: url(../../scr/Fontes/Fonte-Decipher/Decipher_PERSONAL_USE_ONLY.otf);
}

@font-face {
	font-family: DecipherSymbols;
	src: url(../../scr/Fontes/Fonte-Decipher/DecipherSymbols_PERSONAL_USE_ONLY.otf);
}

@font-face {
    font-family: Timegoing;
    src: url(../../scr/Fontes/Fonte-Timegoing/Timegoing\ Regular.ttf);
}

@font-face {
    font-family: Spartical;
    src: url(../../scr/Fontes/Fonte-Spartical/SparticalGraffiti_PERSONAL_USE_ONLY.otf);
}

@font-face {
    font-family: AnotherTag;
    src: url(../../scr/Fontes/Fonte-AnotherTag/aAnotherTag.ttf);
}


.bemvindo{
    display: flex;
    justify-content: center;
    margin-top: -500px;
    margin-left: 350px;
    margin-bottom: -80px;
    font-family: Spartical;
    font-size: 70px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    /* letter-spacing: 22px;     */
}

.textoeimg{
    display: flex;
    justify-content: space-evenly;
}

.imghome{
    width: 300px;
    height: 300px;
}

.texto{
    margin-top: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    max-width: 800px;
}

.tag{
    margin-left: 225px;
    font-size: 60px;
    font-family: AnotherTag;
}